<div class="nyka-p">
  <div class="nyka-text-1">
    <h2>Here is how we rollplayed into town</h2>
  </div>
  
</div>
{% schema %}
  {
    "name": "nyka page second section",
    "settings": [],
    "presets":[
      {
        "category":"page",
        "name":"nyka page second section"
      }
    ]
  }
{% endschema %}