<style>
  .nyka-text-1 h2 {
    font-size: 28px;
    text-align: center;
    line-height: 29px;
}
  .nyka-text-1 {
    max-width: 100%;
    padding: 0 10px;
}
  .video-nyka video {
    max-width: 100%;
}
</style>
<div class="nyka-p">
  <div class="nyka-text-1">
    <h2>Here is how we rollplayed into town</h2>
  </div>
  <div class="video-nyka">
    <video muted autoplay playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/ffa32751cdb54158ba4e27231df2c1d0.mp4" type="video/mp4"
    </video>
  </div>
</div>
{% schema %}
  {
    "name": "nyka page second section",
    "settings": [],
    "presets":[
      {
        "category":"page",
        "name":"nyka page second section"
      }
    ]
  }
{% endschema %}